<router-outlet></router-outlet>

<div class="container">

  <p-card>
    <h1 class="card flex justify-content-center">間隔多久檢查</h1>

    <div class="card flex justify-content-center">
      <p-inputNumber [(ngModel)]="days" [style]="{'width': '4rem'}" [showButtons]="true" buttonLayout="vertical"
        spinnerMode="vertical" inputId="days" decrementButtonClass="p-button-secondary"
        incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
        class="field col-1"></p-inputNumber>
      <label>天</label>
      <p-inputNumber [(ngModel)]="hours" [style]="{'width': '4rem'}" [showButtons]="true" buttonLayout="vertical"
        spinnerMode="vertical" inputId="hours" decrementButtonClass="p-button-secondary"
        incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
        class="field col-1"></p-inputNumber>
      <label>小時</label>
      <p-inputNumber [(ngModel)]="minutes" [style]="{'width': '4rem'}" [showButtons]="true" buttonLayout="vertical"
        spinnerMode="vertical" inputId="minutes" decrementButtonClass="p-button-secondary"
        incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
        class="field col-1"></p-inputNumber>
      <label>分鐘</label>
    </div>

    <div class="card flex justify-content-center">
      <p-button label="檢查" (onClick)="startSystemCheckPolling()"></p-button>
    </div>
  </p-card>
</div>
